@tailwind base;
@tailwind components;
@tailwind utilities;

:root{
    /* font-family */
    --brand-ff: 'Caesar Dressing', cursive;

    /* color */
    --body-color: #252525;
    --active-color: #EDEA96;
    --non-active-color: #C2CCC8;
    --ci-non-active-color: #666;
    --sn-color: #C7867A;
}

@keyframes to-w-100-ani{
    to{
        width: 100%;
    }
}

body{
    @apply overflow-x-hidden;
    background-color: var(--body-color);
}

#main-container{
    @apply min-h-screen;
}

#main-container > #nav-section,
#main-container > #container-section{
    @apply px-16 py-4;
}

/* Start Nav Section */

#nav-section.navbar{
    @apply flex justify-between items-center;
    height: 80px;
    background-color: var(--body-color);
}

#nav-section.navbar > *{
    @apply relative z-10;
}

#nav-section .navbar-brand{
    font-family: var(--brand-ff);
    font-size: 40px;
    color: var(--active-color);
    letter-spacing: 8px;
}

#nav-section .navbar-nav{
    @apply space-x-5 flex;
}

#nav-section .nav-link{
    @apply rounded-full
        flex justify-center items-center
        transition-transform duration-75 ease-linear;

    width: 40px;
    height: 40px;
    background-color: var(--body-color);
    color: var(--non-active-color);

    font-size: 20px;
}

#nav-section .nav-link:hover{
    color: var(--active-color);
    transform: translateY(-5%);
}

/* End Nav Section */

/* Start Container Section */

#container-section{
    @apply flex flex-row-reverse overflow-hidden;
    min-height: calc(100vh - 80px);
}

#container-section > *{
    @apply space-y-5 my-auto
        flex flex-col;
}

/* left container section */

#left-container-section{
    @apply w-4/5 items-end;
}

#left-container-section .show-sn-con{
    @apply w-3/5
        flex justify-center items-center
        relative opacity-0;

    transform: translate(100%, -100%);
}

#left-container-section .show-sn-con.active{
    @apply opacity-100 translate-x-0
        transition-transform duration-300 ease-linear;
}

#left-container-section .show-sn-con .sn-img{
    @apply w-3/5 
        object-cover relative
        origin-bottom;

    z-index: 1;
    transform: scale(0) rotateY(0turn);
}

#left-container-section .show-sn-con.active .sn-img{
    @apply transition-transform duration-500 ease-linear delay-150;
    transform: scale(1) rotateY(-1.5turn);
}

#left-container-section .show-sn-con .sn-sheet{
    @apply w-4/5 h-4/5 rounded-full absolute;
    background-color: var(--sn-color);
    transform: rotate(-25deg);
}

#left-container-section .carousel-indicator-con{
    --ci-item-bf-w: 0%;
    @apply flex flex-wrap gap-5
        select-none relative;
    font-family: var(--brand-ff);
    font-size: 20px;
}

#left-container-section .carousel-indicator-item{
    @apply border-b-2 border-solid
        opacity-80 cursor-pointer
        flex justify-center items-center
        relative;
    
    width: 40px;
    height: 40px;

    color: var(--ci-non-active-color);
    border-bottom-color: var(--ci-non-active-color);
}

#left-container-section .carousel-indicator-item.active{
    @apply opacity-100;
    color: var(--active-color);
}

#left-container-section .carousel-indicator-item::before{
    @apply h-0.5
        absolute left-0 bottom-0 translate-y-full;
        
    content: '';
    background-color: var(--active-color);
    z-index: 1;
}

#left-container-section .carousel-indicator-item.active::before{
    width: var(--ci-item-bf-w);
}

#left-container-section .carousel-indicator-con .down-arr{
    @apply absolute left-0 top-0
        transition-all duration-100 ease-out;
    color: var(--active-color);
    margin: 0px !important;
    transform: translate(-50%, -100%);
}

/* right container section */

#right-container-section{
    @apply w-2/5;
}

#right-container-section .about-con .heading{
    @apply text-white text-lg italic font-bold mb-3;
    letter-spacing: 5px;
}

#right-container-section .about-con .para{
    @apply w-11/12 leading-7;
    color: var(--non-active-color);
}

#right-container-section .price-con .price{
    @apply text-xl font-black italic;
    color: var(--sn-color);
    text-shadow: -10px -10px 0 rgba(0, 0, 0, 0.1);
}

#right-container-section .price-con .buynow-btn{
    @apply text-xs
        font-semibold italic uppercase
        px-6 py-2
        border-2 border-solid rounded-full
        mt-4
        select-none;
    color: var(--sn-color);
    border-color: var(--sn-color);
    letter-spacing: 2.5px;
}

#right-container-section .edit-con{
    @apply text-white space-y-4;
}

#right-container-section .edit-con > *,
#right-container-section .edit-con .edit-btn-con{
    @apply flex items-center;
}

#right-container-section .edit-con .edit-btn-con{
    @apply ml-5 space-x-3;
}

#right-container-section .edit-con .btn{
    @apply text-xs font-bold rounded-full select-none
        flex justify-center items-center;

    width: 20px;
    height: 20px;
    background-color: #333;
}

#right-container-section .size-con .size-num{
    @apply text-lg font-extrabold ;
}

#right-container-section footer{
    @apply text-xs space-y-1;
    color: var(--non-active-color);
}

#right-container-section footer a{
    @apply underline underline-offset-4;
}

#right-container-section footer a:hover{
    color: var(--active-color);
}

/* End Container Section */

/* For Intro Ani */

body::before, body::after{
    @apply fixed inset-0
        transition-transform duration-1000 ease-linear;
    content: '';
    background-color: #111;
    z-index: 100;
}

body::before{
    clip-path: polygon(0% 0%, 100% 0%, 0% 100%);
}

body::after{
    clip-path: polygon(100% 0%, 100% 100%, 0% 100%);
}

body.start-ani::before{
    transform: translate(-100%, -100%);
}

body.start-ani::after{
    transform: translate(100%, 100%);
}

.intro-brand{
    @apply fixed left-1/2 top-1/2;

    font-family: var(--brand-ff);
    font-size: 40px;
    color: #222;
    letter-spacing: 4px;
    z-index: 300;

    transform: translate(-50%, -50%) scale(1);
    animation: intro-brand-ani 0.5s linear 13.25s forwards;
}

@keyframes intro-brand-ani{
    to{
        transform: translate(-50%, -50%) scale(0);
    }
}

.intro-brand::before{
    @apply w-0 overflow-hidden absolute;
    content: attr(data-text);
    color: var(--active-color);
    animation: to-w-100-ani 10s linear forwards;
}

.intro-para{
    @apply w-full p-5
        whitespace-nowrap
        fixed left-0 bottom-0
        translate-x-full;

    font-family: var(--brand-ff);
    font-size: 80px;
    color: #333;
    z-index: 200;

    animation: intro-para-ani 10s linear forwards;
}

@keyframes intro-para-ani{
    to{
        transform: translateX(-200%);
    }
}

/* for navbar section */

#nav-section .navbar-brand,
#nav-section .nav-item{
    @apply opacity-0;
}

body.start-ani #nav-section .navbar-brand,
body.start-ani #nav-section .nav-item{
    @apply opacity-100;
}

#nav-section .navbar-brand,
#nav-section .nav-item{
    transition: opacity 0.5s linear;
}

#nav-section .navbar-brand{
    transition-delay: 1s;
}

#nav-section .nav-item:first-of-type{
    transition-delay: 1.5s;
}

#nav-section .nav-item:nth-of-type(2){
    transition-delay: 1.75s;
}

#nav-section .nav-item:last-of-type{
    transition-delay: 2s;
}

body .ani-con{
    @apply opacity-0;
    transition: all 0.5s linear;
}

/* left container section */

#left-container-section .carousel-indicator-con{
    @apply translate-x-full;
    transition-delay: 3s;
}

/* right container section */

#right-container-section .about-con,
#right-container-section .price-con{
    transform: translate(-100%, -100%);
}

#right-container-section .edit-con,
#right-container-section footer{
    transform: translate(-100%, 100%);
}

#right-container-section .about-con{
    transition-delay: 3.25s;
}

#right-container-section .price-con{
    transition-delay: 3.5s;
}

#right-container-section .edit-con{
    transition-delay: 3.75s;
}

#right-container-section footer{
    transition-delay: 4s;
}

body.start-ani #left-container-section .ani-con,
body.start-ani #right-container-section .ani-con{
    @apply opacity-100;
    transform: translate(0%, 0%);
}

@media(max-width: 768px){
    /* Start Navbar Section */

    #main-container > #nav-section,
    #main-container > #container-section{
        @apply px-8;
    }

    /* End Navbar Section */

    /* Start Container Section */

    #container-section{
        @apply space-y-1 grid place-items-center;
    }

    #container-section > *{
        @apply w-full m-0;
    }

    /* left container section */

    #left-container-section{
        @apply items-start;
    }
    
    #left-container-section .show-sn-con{
        @apply self-center;
    }

    /* right container section */

    /* End Container Section */

    /* For Intro Ani */
    
    .intro-para{
        font-size: 60px;
    }
}

@media(max-width: 576px){
    #main-container > #nav-section,
    #main-container > #container-section{
        @apply p-4;
    }

    /* Start Nav Section */

    #nav-section.navbar{
        height: 60px;
    }

    #nav-section .navbar-brand{
        font-size: 30px;
        letter-spacing: 4px;
    }

    #nav-section .navbar-nav{
        @apply space-x-4;
    }

    #nav-section .nav-link{
        width: 30px;
        height: 30px;
        font-size: 15px;
    }

    /* End Nav Section */

    /* Start Container Section */

    #container-section{
        min-height: calc(100vh - 60px);
    }

    /* left container section */

    #left-container-section .show-sn-con{
        @apply w-4/5;
    }

    #left-container-section .carousel-indicator-con{
        @apply gap-4;
        font-size: 15px;
    }
    
    #left-container-section .carousel-indicator-item{
        @apply border-b;
        width: 30px;
        height: 30px;
    }

    #left-container-section .carousel-indicator-item::before{
        @apply h-px;
    }

    /* right container section */

    #right-container-section{
        @apply space-y-4;
    }
    
    #right-container-section .about-con .heading{
        @apply text-base mb-1;
        letter-spacing: 2.5px;
    }
    
    #right-container-section .about-con .para{
        @apply w-full text-xs leading-5;
    }

    #right-container-section .price-con .price{
        @apply text-lg;
        text-shadow: -5px -5px 0 rgba(0, 0, 0, 0.1);
    }
    
    #right-container-section .price-con .buynow-btn{
        @apply px-5 p-1.5 mt-2;
        font-size: 10px;
        letter-spacing: 1.5px;
    }
    
    #right-container-section .edit-con{
        @apply space-y-1;
    }

    #right-container-section .edit-con .para{
        @apply text-xs;
    }
    
    #right-container-section .edit-con .btn{
        width: 18px;
        height: 18px;
        font-size: 10px;
    }
    
    #right-container-section .size-con .size-num{
        @apply text-base;
    }

    /* End Container Section */

    /* For Intro Ani */

    .intro-brand{
        font-size: 30px;
    }

    .intro-para{
        font-size: 40px;
    }
}